* {
    background-color:rgb(61, 14, 14);
    color: silver;

}
h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    border: inset;
    border-radius: 15px;
    text-align: center;
    color:silver;
    background-color:black;
    text-shadow:2px 2px 2px #000;
}
.navbar {
    text-align: center;
}